.cardMain{
    border-style: solid;
    border-radius: 5px;
    margin: 10px;
    width: 40%;
    display: flex;
    flex-direction: column;
    background-color: white;
}

.pTitle{
    margin: 0;
    padding: 0;
}

.cardTitle{
    padding: 10px;
    border-bottom: 3px solid;
    font-size: 20px;
    text-align: center;
    background-color: #8ECAE6;
}

.cardSecondary{
    margin: 10px;
}

.container{
    align-items: center;
    display: flex;
    flex-direction: column;
}