.wrapper {
    min-height: 100vh; 
    /* Altezza minima pari all'altezza della viewport */
    display: flex;
    flex-direction: column;
  }
  
  .content {
    flex: 1; 
    width: 100%;
    background-color: rgb(79,73,73);
  
    /* Per far espandere il contenuto principale */
  }
  
  app-footer {
    margin-top: auto; /* Pusha il footer verso il basso */
  }



  app-footer {
    /* position: fixed; */
    left: 0;
    bottom: 0;
    width: 100%;
    
    /* padding: 10px;  */
    /* Aggiungi spaziatura interna a piacere */
    border-top: 1px solid #ccc; /* Aggiungi una linea superiore a piacere */
    text-align: center; /* Centra il testo orizzontalmente */
  }
  router-outlet {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    
    /* padding: 10px;  */
    /* Aggiungi spaziatura interna a piacere */
     /* Aggiungi una linea superiore a piacere */
    text-align: center; /* Centra il testo orizzontalmente */
  }
  app-nav {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    
    /* padding: 10px;  */
    /* Aggiungi spaziatura interna a piacere */
 /* Aggiungi una linea superiore a piacere */
    text-align: center; /* Centra il testo orizzontalmente */
  }
  






  